<nav>
  <ul>
    <li>
      <%= link_to "Kevin Mark", "index.html", :class => 'blog-title' %>
      <span>
        <%= link_to "Projects", "#", :class => 'about' %>
        <%= link_to "Blog", "#", :class => 'blog' %>
        <%= link_to "About", "#", :class => 'about' %>
        <%= link_to "Contact", "#", :class => 'contact' %>
      </span>
    </li>
  </ul>
</nav>